.list {
  background-color: var(--color-lightest);
  display: inline-block;
  padding: var(--s) var(--m) var(--s) var(--s);
  position: relative;
  margin: var(--xs);
  width: 410px;

  &::before {
    position: absolute;
    font-size: var(--xxl);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: var(--l);
    top: 0;
    bottom: 0;
  }
  p {
    margin: 0;
    margin-left: var(--xs);
    line-height: var(--lh-normal);
    font-weight: var(--fw-medium);
  }

  .first-p {
    font-size: smaller;
    margin: 0;
    line-height: var(--lh-normal);
    font-weight: var(--fw-medium);
  }
}

.card-grid {
  ul {
    background-color: var(--color-lightest);
    margin-bottom: var(--s);
  }
  li {
    background-color: var(--color-light);
    margin-bottom: var(--s);
  }
  img {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
  }
}
